@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

.hero{
    
    background: linear-gradient(
        0deg,
        rgb(16, 16, 16) -19.5%,
        rgba(16, 16, 16, 0) 100%
    ), url("../assets/hero-bg.png");
    height: 919px;
    /* width: 1928px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* 1920*1080 */
    display: flex;
    justify-items: center;
    align-items: center;


}
.content{
    width: 1023px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 0 auto;

}

*{
    margin: 0;
    padding: 0;
}

.hero .content .subtitle{
    opacity: 0.8;
    color: rgb(255, 255,255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600px;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}

.hero .content .title{
     opacity: 0.8;
    color: rgb(255, 255,255);
    font-family: Work Sans;
    font-size: 50px;
    font-weight: 700px;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
}

.hero .content .description{
    color: rgb(255, 255,255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}














#card-box{
    width: 1320px;
    background-color: aliceblue;
    height: 742px;
    margin: 100px auto;
    
}
#card-box .title{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
}
#card-box .subtitle{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    opacity: .7;
    padding-top:15px ;
}
.card-container{
    margin-top:35px ;
    display: flex;
    justify-content:space-between ;
    gap: 20px;
    font-family:  Work Sans;
    padding: 20px;
}

.card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .img-box{
    width: 250px;
    
}
.card .img-box img{
    width: 100%;
}
.card .shop{
    /* text-align: center; */
    background-color: rgba(82, 195, 3, 0.15);
    padding: 8px 15px;
    border-radius: 8px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 10px 20px ;
    background-color: rgba(82, 195, 3, 1);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}









#section{
    display: flex;
    flex-direction: column;
    justify-content: flex-star
    width: 1932px;
    height: 671px;
    background-image: url("../assets/social-bg.png");
    background-repeat: no-repeat;
    /* padding: 150px; */
    margin: 150 auto;
}
#section .title{
    width: 805px;
    height: 128px;
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 10px;
}
#section .containt{
    width: 556px;
    height: 28px;
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align:left;
    text-align: right;
    padding: 5px;

}
#section .btm{ 
    /* align-items: center; */
    /* text-align: center; */
    width: 207px;
    height: 38px;
    color: rgba(16, 16, 16, 1);
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    /* text-align: left; */
    /* text-align: right; */
}